<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="http://localhost/zadanie0102/pub/">Strona główna</a></li>
            <li><a href="http://localhost/zadanie0102/pub/upload">Wgraj mema</a></li>
            <li><a href="http://localhost/zadanie0102/pub/admin" class="active">Panel admina</a></li>
            <li><a href="http://localhost/zadanie0102/pub/login">Zaloguj się</a></li>
            <li><a href="http://localhost/zadanie0102/pub/register">Zarejestruj się</a></li>
        </ul>
    </nav>
{% include 'header.html.twig' %}
<div id="pageContainer"> 
<table>
    <tr>
    <th>Miniatura</th>
    <th>Tytuł</th>
    <th>Autor</th>
    <th>Czas</th>
    <th>Wyklucz</th>
    </tr>
    {% for post in postArray %}
        <tr>
        <td><img class="thumbnail"
                src="{{post.getFilename()}}"></td>
        <td>{{ post.getTitle() }} </td>

        <td>{{post.getAuthorName() }}</td>
        <td>{{ post.getTimestamp() }} </td>
        <td>
        <a href="admin/remove/{{post.getId()}}">ban</a>
        </td>
        <tr>
    {% endfor %}
</table>
</div>
{% include 'footer.html.twig' %}